@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.grid-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 10px 30px;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
}

input {
    width: 100%;
    height: 25px;
    padding: 0px;
}

.search {
    display: flex;
    align-items: center;
    max-width: 800px;
    gap: 10px;
}

.account-small {
    display: flex;
    justify-content: end;
    padding: 0px 10px;
    align-items: center;
    gap: 20px;
}

.account-large {
    display: flex;
    align-items: center;
    gap: 20px;
}

.account-large img {
    width: 60px;
    height: 60px;
}

p.name {
    font-size: 24px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sidebar {
    background-color: skyblue;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.logo img {
    width: 60px;
    height: 60px;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
    margin-left: 15px;
}

.sidebar ul {
    display: grid;
    grid-auto-rows: 40px;
}

.main {
    background-color: grey;
    grid-area: main;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending"
    ;
    padding: 20px 10px 10px 10px;
    gap: 25px;
}

.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
}

.card-display {
    display: grid;
    height: 100%    ;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    align-items: center;
    justify-items: center;
    grid-auto-rows: min-content;
}

.card {
    width: 250px;
    height: 150px;
    border: 1px solid black;
    background-color: white;
}

.announcements {
    grid-area: announcements;
    display: flex;
    flex-direction: column;
}

.announcement-display {
    display: grid;
    grid-auto-rows: 1fr;
    flex-grow: 1;
    justify-content: center;
}

#middle-announcement {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.trending {
    grid-area: trending;
    display: flex;
    flex-direction: column;
}

ul.trending-display {
    display: grid;
    flex-grow: 1;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: start;
}

.trending-profile {
    color: black;
    gap: 10px;
}

.trending-profile img {
    width: 40px;
    height: 40px;
}

.trending-profile .description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

header {
    margin: 10px 0px;
}

.announcement-display,
.trending-display {
    background-color: white;
    border-radius: 10px;
}

img {
    width: 30px;
    height: 30px;
}