* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 10px 30px;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
}

input {
    width: 100%;
    height: 25px;
    padding: 0px;
}

.search {
    display: flex;
    align-items: center;
    max-width: 800px;
    gap: 10px;
}

.account-small {
    display: flex;
    justify-content: end;
    padding: 0px 10px;
    align-items: center;
    gap: 20px;
}

.account-large {
    display: flex;
    align-items: center;
    gap: 20px;
}

.account-large img {
    width: 60px;
    height: 60px;
}

p.name {
    font-size: 24px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sidebar {
    background-color: rgb(23, 118, 149);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.logo img {
    width: 60px;
    height: 60px;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
    margin-left: 15px;
}

ul {
    display: grid;
    grid-auto-rows: 40px;
}

.main {
    background-color: grey;
    grid-area: main;
}

img {
    width: 30px;
    height: 30px;
}